body {
    background-color: lightgray;
}

#navBar {
    width: auto;
    background-color: #E37222;
    border: 5px solid lightgray;
    padding: 25px;
    color: white;
}

#navBar h1 {
    font-size: 2.0em;
    padding: 8px;
}

#navBar h3 {
    font-size: 1.3em;
    padding-left: 8px;
}

#aboutMe {
    width: 45%;
    height: 400px;
    padding: 50px;
    background-color: gray;
    color: white;
    border: 5px solid lightgray;
    float: left;
}

#image {
    float: left;
    background-color: #66B9BF;
    height: 400px;
    width: 40%;
    padding: 50px;
    border: 5px solid lightgray;
}

footer {
    clear: both;
    padding: 30px;
    color: white;
    background-color: #07889B;
    border: 5px solid lightgray;
}